# Specifies intentionally untracked files that Git should ignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
venv/
ENV/
env/

# Environment variables
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook
.ipynb_checkpoints

# VS Code settings
.vscode/
